.shop_all__content{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(250px,1fr));
    gap: 20px;
    width: 80%;
    margin: 0 auto;
}

.shop{
    width: min(100%, 350px);
    box-shadow: 2px 2px 1px #99979e;
    border-radius: 5px;
}

.shop__img{
    width: 100%;
    height: 150px;
    border-radius: 5px 5px 0 0;
}

.shop__text{
    padding: 5px 15px;
    border: none;
    border-radius: 0 0 5px 5px;
    background: #fff;
}

.shop__title{
    font-size: 17px;
    margin-bottom: 1px;
}

.shop__area,
.shop__genre{
    font-size: 11px;
}

.buttons{
    margin: 10px 0 0;
    display: flex;
    justify-content: space-between;
}

.detail__btn{
    width: 95px;
    color: #fff;
    background: rgb(5, 90, 248);
    line-height: 28px;
    border: none;
    border-radius: 5px;
}

.favorite__btn{
    border: none;
    background: #fff;
}

@media (min-width:769px) {
    .header{
        flex-wrap: nowrap;
    }

    .shop_all__content {
        width: 85%;
    }

    .shop {
        width: 100%;
    }
}