.menu-page {
    background: #fff;
    position: fixed;
    inset: 0;
    z-index: 1000
}

.close-icon {
    border-radius: 5px;
    box-shadow: 3px 3px 2px #99979e;
    width: 30px;
    margin: 50px;
    line-height: 30px;
    background-color: #1a5aec;
    font-size: 30px;
    color: #fff;
    border: none;
}

.logout {
    border: none;
    background: #fff;
}

.button {
    border: none;
}

.nav__list {
    text-align: center;
}

.navigate {
    text-decoration: none;
    font-size: 30px;
    line-height: 70px;
    color: blue;
}

.logout-form {
    margin: 0;
}

@media (min-width:769px){
    .close-icon {
        margin: 50px 100px;
    }
}