.thanks__content,
.done__content{
    height: 200px;
    margin: 100px auto;
    padding: 20px 0;
    width: min(85%, 400px);
    border: 2px solid #f1f0f5;
    border-radius: 5px;
    box-shadow: 2px 2px 1px #99979e;
    background: #fff;
}

.thanks__message,
.done__message{
    width: min(95%, 300px);
    margin: 0 auto;
}

.registered,
.reserved{
    text-align: center;
    font-size: 18px;
    line-height: 50px;
}

.login__button,
.back__button{
    text-align: center;
}

.login,
.home{
    height: 30px;
    padding: 0 20px;
    background: rgb(5, 90, 248);
    color: #fff;
    border: none;
    border-radius: 5px;
}

@media (min-width:769px){
    .thanks__content,
    .done__content{
        width: 450px;
        height: 280px;
    }

    .thanks__message,
    .done__message{
        width: 100%;
        margin: 0;
    }

    .registered,
    .reserved{
        font-size: 24px;
        line-height: 70px;
    }

    .login,
    .home{
        height: 40px;
        font-size: 18px;
    }
}